/*login主CSS*/

body{
	width: 100%;
	height: 100vh;
}

.login-page{
		width: 100%;
		height: 100vh;
		background-color: #ffffff;
	}
	.login-charlet{
		float: left;
		width: 60%;
		height: 100%;
	}
	.login-table{
		float: left;
		width: 40%;
		height: 100%;
	}
	
	/*login 左边贴图CSS*/
	.login-charlet{
			position: relative;
			background: url(../../images/loginImages/login植树.png) no-repeat;
			background-position: center;
			background-size: 600px ;
		}
		.tree{
			position: absolute;
			left: 0;
			width: 150px;
		}
		
		
		/*login 右边表单提交CSS*/
		.login-table {
				box-shadow: 0 0 3px 3px #e5e5e5;
				text-align: center;
			}
		
			.login-table>* {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-grow: 1;
			}
		
		
			.login-table h1 {
				font-size: 35px;
				font-weight: bolder;
			}
		
			.login-table .table {
				align-items: flex-start;
			}
		
			.login-table .table ul>li {
				flex-grow: 1;
			}
		
			.login-table .table input {
				width: 200px;
				transition: all .7s;
			}
		
			.login-table .table input[name="username"] {
				
				outline: none;
				border: none;
				background-color: #dcefff;
				border-radius: 20px;
			}
		
			.login-table .table input[name="password"] {
				outline: none;
				border: none;
				border-radius: 20px;
				box-shadow: 0px 5px 5px 2px #d6cbca;
			}
		
			.login-table .table a:hover {
				color: #000000;
			}
		
			.login-table .table .login-button {
				width: 100px;
			}
			
			.login-table .table  input:focus{
				transform: scale(1.2);
			}
		
			
		
			.login-table .go-login {
				color: #20c997 ;
				  cursor: url(../../images/loginImages/login指针.png) , auto;
			}