/* 忘记密码拟态框 */
#forgetPasswordMimicry .modal-body{
	display: flex;
	justify-content: center;
	align-items: center;
}

#forgetPasswordMimicry ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#forgetPasswordMimicry ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	width: 100%;
}

#forgetPasswordMimicry ul li>*{
	flex-grow: 1;
}

#forgetPasswordMimicry ul li input{
	max-width: 200px !important;
	border: 2px solid #dddddd;
	border-radius: 5px;
	height: 30px;
}

#forgetPasswordMimicry ul li input:focus{
	outline:none;
}


#forgetPasswordMimicry ul li .email{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#forgetPasswordMimicry ul li .email input{
	align-self: flex-end;
}

#getMask{
	max-width: 120px;
	align-self: center;
}

