/* register主CSS */
body{
	width: 100%;
	height: 100vh;
	text-align: center;
}

.register-page{
		width: 100%;
		height: 100vh;
		background-color: #ffffff;
	}
	.register-charlet{
		float: left;
		width: 60%;
		height: 100%;
	}
	.register-table{
		float: left;
		width: 40%;
		height: 100%;
		box-shadow: 0 0 3px 3px #e5e5e5;
	}
	
	.p {
		font-size: 1em;
		color: #b8b9ba;
	}

/* register左侧贴图CSS */
.register-charlet {
		float: left;
		background: url(../../images/registerImages/register办公.png) no-repeat center;
		background-color: #613aee;
	}
	
	
	/* resister右侧表单CSS */
	
	.register-table>*{
			display: flex;
			flex-grow: 1;
			justify-content: center;
			align-items: center;
		}
	
	.register-table .table li{
		flex-grow: 1;
	}
	
	.register-table .table li input{
		border: 1px solid #dadada;
		text-indent: 1em;
		outline: none;
		border-radius: 20px;
		transition: all .7s;
	}
	
	.register-table .table li input:focus{
		transform: scale(1.2);
	}
	
		.go-login{
			cursor: url(../../images/registerImages/register指针.png) ,auto;
			color: #6f42c1 ;
		}
	